<h1>Welcome</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent hendrerit, sapien vel commodo sagittis, sem orci pharetra nisl, eu posuere quam neque eget nunc. Sed sapien dolor, dictum sit amet imperdiet sit amet, euismod eu velit. Suspendisse potenti. Donec ac tempus velit. Aliquam id leo viverra, varius sapien sit amet, vestibulum felis. Curabitur sit amet nibh condimentum, gravida leo sed, elementum mauris.</p>
<p><button type="button" class="btn">Get Started</button></p>
