<h1>Welcome</h1>
<p>The Ocean Observatories Initiative (OOI), a project funded by the National Science Foundation and managed by the Consortium for Ocean Leadership, is providing educators with unprecedented access to near real-time and archived ocean data. Our tools provide easy access for the development of educational data visualizations and translation of OOI science into pedagogical resources such as concept maps and online lessons.</p>
<p><button type="button" class="btn">Get Started</button></p>
